<a href="/dashboard">&larr; Back</a>
<div class="admin_title">
     <h2>Add new Post</h2>
</div>

<form 
action="/blog/add-blog"
method="post"
enctype="multipart/form-data"
>
     <label for="title"><b>Title</b></label>
     <input type="text" placeholder="title.." name="title">

     <label for="image"><b>blog Image</b></label>
     <input type="file" name="coverImage">
     <br>
     <br>


     <label for="body"><b>Content</b></label>
     <textarea name="body" id="" cols="50" rows="10"></textarea>

     <input type="submit" value="Add" class="btn">

</form>